.header {
  background: url("../assets/back.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: color;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: end;
}

a {
  font-family: "Poppins";
  text-decoration: none;
  color: white;
  margin-right: 100px;
}

a:hover {
  border-bottom: 1px solid orange;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#perfil {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 30px 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.title-one {
  color: white;
  font-family: "Poppins";
  margin-bottom: 10px;
  font-size: 70px;
  font-weight: 600;
}

.my-name {
  font-family: "Poppins";
  color: white;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: 300;
}

.title-two {
  color: white;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 200;
  border-bottom: 1px solid white;
}

.about-me {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 50px;

  h1 {
    color: white;
    font-size: 50px;
    font-family: "Poppins";
    font-weight: 500;
    border-bottom: 1px solid white;
    letter-spacing: 6px;
    margin-top: 40px;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 50px;
}

#img-about {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

.text-about {
  width: 700px;
  font-size: 25px;
  text-align: start;
  font-family: "Poppins";
  color: white;
}

.container-habilites {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 50px;

  .habilites {
    color: white;
    font-size: 50px;
    font-family: "Poppins";
    font-weight: 500;
    border-bottom: 1px solid white;
    letter-spacing: 6px;
    margin-top: 40px;
  }
}

.habilites-descriptions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}

.html-content,
.css-content,
.javascript-content {
  border-radius: 20px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 365px;
  height: 355px;

  p {
    width: 255px;
    height: 87px;
    text-align: center;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
    color: white;
  }
}

.title-html,
.title-css,
.title-javascript {
  font-size: 30px;
  font-family: "Poppins";
  color: white;
  font-weight: 500;
}

.projects {
  color: white;
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 500;
  border-bottom: 1px solid white;
  letter-spacing: 6px;
  margin-top: 40px;
}

.section-projects {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 50px;
}

.contacts {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px;
  gap: 50px;
}

.contact {
  color: white;
  font-size: 50px;
  font-family: "Poppins";
  font-weight: 500;
  border-bottom: 1px solid white;
  letter-spacing: 6px;
  margin-top: 40px;
}

.formulario-container {
  display: flex;
  justify-content: center;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

label {
  color: white;
  font-family: "Poppins";
  margin-bottom: 10px;
}

.input-name,
.input-email,
textarea {
  border: none;
  margin-bottom: 20px;
  width: 800px;
  padding: 20px;
  gap: 10px;
  border-radius: 15px;
  background: #202020;
  color: white;
  resize: none;
  outline: none;
}

/* .input-name,
.input-email,
textarea:focus {
  outline: 1px solid black;
} */

.submit {
  margin-top: 20px;
  width: 800px;
  height: 60px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  font-family: "Poppins";
  background-color: black;
  border: none;
  transition: 100ms;
}

.submit:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.submit:active {
  opacity: 0.4;
  background-color: red;
}

footer {
  background-color: #111111;
}

.top {
  background: transparent;
  border: none;
  font-size: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.tudum {
  position: fixed;
  top: 80px;
  left: 20px;
}

.button-tudum {
  background: transparent;
  font-size: 20px;
  border: none;
  color: white;
  cursor: pointer;
}

html,
body {
  overflow-x: hidden;
}

.bg {
  position: fixed;
  top: 80px;
  right: 20px;
}

.button-bg {
  height: 30px;
  background-color: blue;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
}
